<mat-toolbar class="toolbar-content">
  <span>Test Web Atrio</span>
</mat-toolbar>

<main class="container-fluid">
  <button class="mt-10 me-10" mat-raised-button (click)="toggleForm('personne')">Ajouter une Personne</button>
  <button class="mt-10 me-10" mat-raised-button (click)="toggleForm('emploi')">Ajouter un Emploi</button>
  <button class="mt-10" mat-raised-button (click)="toggleForm('listePersonne')">Liste des personnes</button>

  <app-add-personne *ngIf="showAddPersonneForm"></app-add-personne>

  <app-add-emploi *ngIf="showAddEmploisForm"></app-add-emploi>

  <app-personnes *ngIf="showListePersonne"></app-personnes>

</main>

<router-outlet></router-outlet>
